@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,400,500,700');


div.container-fluid{
  padding: 5em 0em;
}

div.container-fluid.header{
  background-color:#212121;
  color: #fff;
  padding-top: calc(5em + 50px);
}
.header h1{font-weight: 700; margin-bottom: 1.75rem;}
button.btn{border-radius: 0px; text-transform: upercase;}
.header button.btn{margin-right: 2em;}

h2 {
  color: #757575;
  margin-bottom: 1.5em;
}

a.nav-link.active {
    color: #212121;
    border-bottom: 1px solid;
}
a.nav-link.active:hover {
    color: initial !important;
}
a.nav-link, li.nav-item{cursor:pointer !important}
.footer a, .footer a:hover, .footer i:hover{cursor:pointer !important}
.row.work{
  background-color:#f8f8f8;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.container-fluid.work{background-color: #f5f5f5}

.work .row {
  padding: 0em 1em;
}

.footer h5 {
    color: #757575;
    margin: 0;
    font-size: 1.5em;
    text-transform: uppercase;
}
h5.subtitle {
  color: #757575;
  text-transform: uppercase;
  text-align: center;
  margin: 1em 0em 2em;
}
.footer h5{color: #757575}
.footer a:hover {
    text-decoration: none;
}

i.fab{-webkit-transition-duration:200ms; transition-duration: 200ms;}
i.fab:hover {font-size: 1.25rem;}


/*card-item logos*/

.process{
background-image: url('../images/process-image.png');
}
.products{
background-image: url('../images/products-image.jpg');
}
.projects{
background-image: url('../images/projects-image.jpg');
}


.lander {
  background-image: url('../images/clients/lander/lander-logo.png');
  background-color: #fff;
}

.goalZero{
  background-image: url('../images/clients/goalZero/goalZero-logo.png');
  background-color:#333;
}

.dakine{
  background-image: url('../images/clients/dakine/dakine-logo.png');
  background-color:#218666;
}
.breville{
  background-image:url('../images/clients/breville/breville-logo.png');
  background-color:#472b46;
}

.jackWolfskin{
  background-image:url('../images/clients/jackWolfskin/jackWolfskin-logo.png');
  background-color:#fbba22;
}

.kammok{
  background-image:url('../images/clients/kammok/kammok-logo.png');
  background-color:#fff;
}

.sawyer {
  background-image: url("../images/clients/sawyer/saywer-logo.png");
  background-color:#00add3;
}
.smith {
  background-image: url("../images/clients/smith/smith-logo.png");
  background-color:#212121;
}
.toms {
  background-image: url("../images/clients/toms/toms-logo.png");
  background-color:#fff;
}
.timbuk2 {
  background-image: url("../images/clients/timbuk2/timbuk2-logo.png");
  background-color:#fff;
}
.zeal {
  background-image: url("../images/clients/zeal/zeal-logo.png");
  background-color:#366;
}
.voodoo {
  background-image: url("../images/clients/voodoo/voodoo-logo.png");
  background-color:#000;
}
.coldSteel {
  background-image: url("../images/clients/coldSteel/coldSteel-logo.png");
  background-color:#000;
}
.greenPan {
  background-image: url("../images/clients/greenPan/greenPan-logo.png");
  background-color:#78a22f;
}
.identilock {
  background-image: url("../images/clients/identilock/identilock-logo.png");
  background-color:#fff;
}
.sportDog {
  background-image: url("../images/clients/sportDog/sportDog-logo.png");
  background-color:#333;
}
.oakley{
  background-image: url("../images/clients/oakley/oakley-logo.png");
  background-color:#252525;
}
.hills{
  background-image: url("../images/clients/hills/hills-logo.png");
  background-color:#fff;
}
.hydroflask{
  background-image: url("../images/clients/hydroflask/hydroflask-logo.png");
  background-color:#000;
}
.nightforce{
  background-image: url("../images/clients/nightforce/nightforce-logo.png");
  background-color:#000;
}


/* XXX card-item-logos XXX */

.w-item div {
    width: 100%;
    min-height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition-duration: 50ms;
    cursor:pointer;
}

.e-item div, .p-item div{
    width: 100%;
    min-height: 15vw;
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center center;
    transition-duration: 50ms;
    cursor:pointer;
}

#productPage .w-item div {
    background-size: 50%;
}

.e-item, .p-item, .w-item {
  margin:1em 0.25em;
  overflow:hidden;
}
.card{
  -webkit-transition: all 200ms ease-in-out;
    transition:         all 200ms ease-in-out;
}
.card:hover{
  border: 1px solid rgba(0,0,0,.325);
  cursor:pointer;
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}
.card:hover * {cursor:pointer}

/*footer*/
a.fileDownload:before {
    font-family: "untitled-font-8" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\61";
    display: inline-block;
    padding: 0px 5px;
}
a.fileDownload {color: #6379d5;}


.footer{background-color:#EEEEEE}

/*product-pages*/
#productPage .container-fluid.header {
padding: 0px;
background-color:#333;
}
#productPage .container-fluid.header .logo {
    height: 40vh;
    display: block;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 20em;
}
#productPage h1 {
    text-transform: capitalize;
    font-size: 4rem;
}


span.icon-x {
    color: #fff !important;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    font-size: 3em;
    line-height: 0;
    opacity: 0.7;
    transition-duration: 300ms;
}

span.icon-x:hover{
  font-size:3em;
  opacity: 1;
  cursor:pointer;
}
#productPage ul{padding-left: 1.2em;}
#productPage li{padding-bottom: .5em;}

#productPage .col-0.col-sm-4.col-md-6.project-preview{
    min-height: 75vh;
}
#productPage .project-copy{
  align-self: center;
}

#productPage .preview-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    z-index: 1;
    position: absolute;
    width: 100%;
    background-image: url(../images/iphone-frame.png);
}

#productPage .content-image {
    height: 91%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    position: absolute;
    width: 100%;
    width: calc(100% - 30px);
    top: 1em;
}

.modal-xl {
    max-width: 85%;
    margin: 5% auto;
}
.margin-0{
  margin:0px !important;
}


body {
    margin: 0;
    font-family: "Roboto Mono";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.project-preview video {
    height: 67.9vh !important;
    margin: 2.7vh auto;
    display: block;
}

.work .row[name=elements]:before{
  content:"Interactions:";
  border-bottom: .75px solid;
  width: 100%;
  color:#757575
}
.work .row[name=projects]:before{
  content:"Experiences:";
  border-bottom: .75px solid;
  width: 100%;
  color:#757575
}
.w-description *{text-align:center;}
.w-description h4{text-transform:uppercase; font-weight:bold;}
